<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
	<properties>
		<property name="LOG_HOME">/root/maintenance/trace</property>
		<property name="FILE_NAME">adp_log</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="debug" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="%n%-5p %d{yy-MM-dd HH:mm:ss} (%c) [%t]%n%m%n" />
		</Console>
		<RollingRandomAccessFile name="RollingFile"
			fileName="${LOG_HOME}/${FILE_NAME}"
			filePattern="${LOG_HOME}/${FILE_NAME}%i">
			<PatternLayout pattern="%n%-5p %d{yy-MM-dd HH:mm:ss} (%c) [%t]%n%m%n" />
			<Policies>
				<!-- 
				<TimeBasedTriggeringPolicy interval="1" />
				 -->
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>   